<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.byarger.exchangeit"
      android:versionName="0.6" android:versionCode="6">
    <application android:label="@string/app_name" android:debuggable="true" android:icon="@drawable/send_48">
        <activity android:name="com.byarger.exchangeit.InboxList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name="com.byarger.exchangeit.MessageView"></activity>
    <activity android:name="com.byarger.exchangeit.SettingsActivity"></activity>
<service android:name="com.byarger.exchangeit.NewMailService"></service>
</application>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 